<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>**EXPERIMENTAL COPY**</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cards.css">
    <link rel="stylesheet" href="css/form.css?version=0.1">  
</head>
<body>
    <!-- Splash Screen -->
    <div class="splash-screen">
        <div class="welcome-container">
            <h1 class="welcome-text">WELCOME TO MY WEBPAGE</h1>
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <header>
                <h1>Christian Luis Esguerra<br>
                    ComSci Student</h1>
            </header>
            <main>
                <section class="main-content">
                    <div class="card">
                        <strong>About Me</strong>
                        <p>Hi! I'm Christian,<br>
                            a 2nd year Computer Science student from Asia Pacific College,<br>
                            from section SS231.</p>
                    </div>
                    <div class="card">
                        <strong>Education / Achievements</strong>
                        <p>Graduated Junior High School from Espiritu Santo Parochial School.<br>
                            Graduated Senior High School from Asia Pacific College.<br></p>
                    </div>
                    <div class="card">
                        <strong>Course</strong>
                        <p>BS Computer Science</p>
                    </div>
                    <div class="card">
                        <strong>IT Experience</strong>
                        <p>HTML, CSS, JavaScript, Python</p>
                    </div>
                    <div class="card">
                        <strong>Hobbies & Interests</strong>
                        <p>Going to the gym and playing video games</p>
                    </div>
                    <div class="card">
                        <strong>Goals In Life / Dream</strong>
                        <p>Current goal is to be able to graduate.<br>
                        I like to only have short-term goals as it's easier for me to focus that way<br></p>
                    </div>
                    <div class="card">
                        <strong>Picture Gallery</strong>
                        <div id="app">
                            <slider>
                            </slider>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <div id="app3">
            <form v-on:submit.prevent="addItem">
                <strong>Suggestion Box</strong>
                <p>
                    Any suggestions for my website?
                    <input type="text" required placeholder="Input here!" v-model="itemName">
                </p>
                <p>
                    Confirm
                    <label>
                        <input type="checkbox" v-model="itemImportant">
                        {{ itemImportantDisplay }}
                    </label>
                </p>
                <button type="submit">SUBMIT</button>
            </form>
        </div>

        <footer>© Asia Pacific College 2025</footer>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/form.js"></script>
    <script src="js/script.js"></script>
    <script src="js/cards.js"></script>
</body>
</html>
