<!DOCTYPE html>
<html>
<head>
<title>Esguerra</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/flexbox-grid.css?version=0.1">
<link rel="stylesheet" href="css/shopping.css?version=0.1">  
</head>
<body>

    <div class="container">
        <header>
            <h1>Christian Luis Esguerra</h1>
          </header>
        <main>
          <section class="main-content">
                   
            <div>
                <strong>About Me</strong>
                <p>I don't drink or smoke or go to clubs or party.<br>
                I'm the type of person who'd rather sleep early and wake up early,<br>
                hit the gym, eat some good food, and be with family and friends :><br></p>
            </div>
            <div>
                <strong>Education / Achievements</strong>
                <p>Graduated Senior High School from Asia Pacific College.<br>
                As for achievements, I don't really have any notable ones.<br></p>
            </div>
            <div>
                <strong>Course</strong>
                <p>BS Computer Science</p>
            </div>
            <div>
                <strong>IT Experience</strong>
                <p>A beginner who is somewhat familiar with the basics of HTML and CSS.</p>
            </div>
            <div>
                <strong>Hobbies & Interests</strong>
                <p>Going to the gym and playing video games on my PC.</p>
            </div>
            <div>
                <strong>Goals In Life / Dream</strong>
                <p>Current goal is to be able to graduate.<br>
                I like to only have short-term goals as it's easier for me to focus that way.<br></p>
            </div>
            <div>
                <strong>Picture Gallery</strong>
                <img src="https://via.placeholder.com/382x384" alt="Photo of Christian" width="382" height="384">
            </div>
            
            </section>
          <aside class="sidebar">  Sidebar
            <br>Picture Gallery    
        </aside>
        </main>
        <footer>Asia Pacific College</footer>
        
        <div id="app3">
            <form v-on:submit.prevent="addItem">
            <p>
                  What do you need? <br>
            <input type="text" required placeholder="item name.." v-model="itemName">
            </p>
            <p>
                  How many? <br>
            <input type="number" placeholder="number of items.." v-model="itemNumber">
            </p>
            <p>
                  Important?
            <label>
            <input type="checkbox" v-model="itemImportant">
                    {{ itemImportant }}
            </label>
            </p>
            <button type="submit">Add item</button>
            </form>
            <br>
            <hr>
        </div>

    </div>
     
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/images.js"></script>
    <script src="js/shopping.js"></script>

</body>
</html>