@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: #121212; 
  color: #FFC0CB; /* webpage font color */
  font-family: "Funnel Sans", serif;
  font-weight: 400; 
  margin: 0;
  padding: 0;
}